Package: cbsmodel
Version: 0.1
Section: utils
Priority: extra
Architecture: i386
Depends: libgsl0-dev, libreadline-dev, libboost-dev, libc-dev-bin
Maintainer: Boris Däppen <boris_daeppen@bluewin.ch>
Description: something with atoms and rays :-)
 This program calculates excitation energies E0 and E2 transition strengths within the "Confined Beta Soft" nuclear structure model as described in [N. Pietralla and O. M. Gorbachenko, Phys. Rev. C 70, 011304(R) (2004)].
  .
  Parameter fits are possible. 
 .
Installed-Size: 504
